{% extends 'base.html' %}
{% load static %}
{% block title %}
    Lista de actividades
{% endblock title %}
    

{% block content %}
    {% include 'headerSearch.html' %} 

    <main class="main contenedor">
        <h2>Actividades</h2>
      <section class="actividades contenedor">
        
        
        {% if  object_list%}
          {% for actividad in object_list  %}
          <div class="actividad">
            
            
            {% if actividad.imagen %}
            <img src="{{actividad.imagen.url}}" class="img-actividad" />
            {% else %}
            <img src="{% static 'img/beneficios.png' %}" class="img-actividad" />
            {% endif %}
              
              
              <div class="info-actividad">
                <h3 class="nombre-actividad"> <a href="{% url 'actividades_app:activity-detail' actividad.id %}">{{actividad.nombre  | capfirst}}</a> </h3>
                <p class="objetivo-actividad">
                  {{actividad.objetivo}}
                </p>
                <div class="detalle-actividad">
                  <span>{{actividad.categoria  | capfirst }}</span>
                  <span>{{actividad.fecha}}</span>
                </div>
              </div>
              <div class="botones-actividad">
                <button class="btn-editar"> <a href="{% url 'actividades_app:update-activity' actividad.id %}">Editar</a> </button>
                <button class="btn-eliminar"><a href="{% url 'actividades_app:eliminar_actividad' actividad.id %}">Eliminar</a></button>
              </div>
            </div>
          {% endfor %}
        {% else %}
        <h3 style="text-align:center;">No hay actividades por mostrar</h3>
        <img src="{% static 'img/vacio.jpg' %}" class="img-actividad"  style="height:500px ;"/>
        {% endif %}
          
            
        <!---->
        
          
      </section>
    </main>
    {% include 'footer.html' %}
{% endblock content %}
    